.page {
  height: 100%;
  font-family: var(--font-geist-sans);
}

.intro {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 72px;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background: var(--background);
  z-index: 1;
}

.introTag1 {
  color: var(--light-purple);
  visibility: hidden;
  opacity: 0;
}

.introTag2 {
  color: var(--light-blue);
  visibility: hidden;
  opacity: 0;
}

.introTag3 {
  color: var(--light-yellow);
  visibility: hidden;
  opacity: 0;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }
}
